*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
:root{
    --color-boton: linear-gradient(to right, #8a48e0 0%, #b160dd  51%, #8c45e7  100%);
}
html{
    font-family: Inter, roboto, sans-serif;
    font-size:62.5%;
}
body{
    font-size: 1.5rem;
    padding: 0 30px;
    background: white;
}
ul{
    list-style: none;
}
.app{
    margin-bottom: 15rem;
}
/* Navegacion */
.navegacion{
    padding: 2rem 2rem ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegacion-logo{
    width: 45px;
    height: 50px;
    border-radius: 100%;
}
.lista{
    width: 40%;
    display: flex;
}
.item{
    cursor: pointer;
    margin: 0 auto;
}

.item:hover{
    color: var(--color-boton);
    font-weight: 500;
}

 .logo{
        font-weight: 700;
        font-size: 2rem;
 }      
.btn-grad {
    background-image: var(--color-boton);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
  }

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* ------------------------------------- */
/* Cuerpo */
.cuerpo {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.cuerpo_imagen {
    width: 53%;
    justify-content: space-evenly;
}
.contenido{
    margin-top: 6rem;
    width: 45%;
}
.cuerpo_titulo{
    font-size: 45px;
    margin-bottom: 45px;
    font-weight: 800;
}
.cuerpo_texto{
    margin-bottom: 45px;
}
/* --------------------------------*/
.caracteristicas-container{
    margin-top: 80px;

}
.caracteristicas-title{
    text-align: center;
    margin-bottom: 50px;
}
.caracteristicas{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    gap: 40px;
    justify-content: center;
    justify-items: center;
}
.card_img{
    border-radius: 15px;
    width: 100%;
    object-fit:contain;
}
.card_title{
    margin-top: 15px;
    text-align: center ;
}